<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div class="head">

  <div class="text">
    kelly mcaninch
  </div>

  <div class="icons">
    (MAC-an-INCH) <br>
    <%= link_to (image_tag("mail2.png", size: 50)), "mailto:kelly@kellymca.com"%>
    <%= link_to (image_tag("linkedin3.png", size: 50)), "https://www.linkedin.com/in/kelly-mcaninch", target: :_blank  %>
  </div>

</div>

<div class="timeline">
  <table>
    <tbody>
    <tr class="top_border"><th></th></tr>
    <tr class="bottom_border">
      <th><h3>January 2018<br> - Present</h3></th>
        <!--<table>-->
          <!--<tr class="topper"><td>""</td></tr>-->
          <!--<tr class="bottomer"><td>""</td></tr>-->
        <!--</table>-->
      <td>
        <div class="brace2">--{</div>
        <div class="names2">
          <%= image_tag("daxko.png") %>
          <br>
          <div class="job">
            <h1>Software Engineer in Test</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>April 2016<br> - January 2018</h3></th>
      <td>
        <div class="brace2">---{</div>
        <div class="names2">
          <%= image_tag("daxko.png") %>
          <br>
          <div class="job">
            <h1>QA Engineer</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>September 2016<br> - Present</h3></th>
      <td>
        <div class="brace2">-{</div>
        <div class="names2">
          <%= image_tag("codedotorg.png") %>
          <br>
          <div class="job">
            <h1>Volunteer / Speaker</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>Graduated<br> May 2016</h3></th>
      <td>
        <div class="brace2">--{</div>
        <div class="names2">
          <%= image_tag("uab.gif") %>
          <br>
          <div class="job">
            <h1>B.S. in Information Systems, Magna Cum Laude</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>September 2015<br> - March 2016</h3>
      </th>
      <td>
        <div class="brace2">-{</div>
        <div class="names2">
          <%= image_tag("uab.gif") %>
          <br>
          <div class="job">
            <h1>Technology Analyst</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>May 2015<br> - July 2015</h3></th>
      <td>
        <div class="brace2">---{</div>
        <div class="names2">
          <%= image_tag("protective1.png") %>
          <br>
          <div class="job">
            <h1>Business Systems Analyst Intern</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="bottom_border">
      <th><h3>January 2013<br> - May 2015</h3></th>
      <td>
        <div class="brace2">--{</div>
        <div class="names2">
          <%= image_tag("uab.gif") %>
          <br>
          <div class="job">
            <h1>Chemistry Tutor</h1>
          </div>
        </div>
        <div class="brace2">}</div>
      </td>
    </tr>
    <tr class="end_border"><th></th></tr>
    </tbody>
  </table>
<br>
</div>

</body>